{% extends "layout.html"%}
{% block content%}

<main class="page hire-me-page">
    <section class="portfolio-block hire-me">
        <div class="container">
            <div class="heading">
                <h2>Add a new book</h2>
            </div>

            <form method="POST" action="">
                {{ form.csrf_token }}
                <!-- Author field -->
                <div class="form-group">
                    {{ form.author.label(class="message")}}
                    <!-- PRINT ERRORS -->
                    {% if form.author.errors %}
                    {{ form.author(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.author.errors%}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.author(class="form-control")}}
                    {% endif %}

                </div>

                <!-- Title field -->
                <div class="form-group">
                    {{ form.title.label(class="message")}}
                    <!-- PRINT ERRORS -->
                    {% if form.title.errors %}
                    {{ form.title(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors%}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control")}}
                    {% endif %}
                </div>

                <!--  Add book button  -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary")}}
                </div>
            </form>

        </div>
    </section>
</main>


{% endblock content%}
