{% extends "layout.html"%}
{% block content%}

<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="container" style="width: 728px;">
            <div class="heading">
                <h2>Current books</h2>
            </div>
            <div class="row">
                <div class="col" style="width: 1200px;">
                    <ul class="list-group">
                        {% for book in books: %}
                        <li class="list-group-item"><span>Title: {{book.title}}, Author: {{book.author}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content%}
