<html>

<head>
    <title>Learn D3 in 5 minutes</title>
</head>

<body>
    <h3></h3>
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <!-- <script>
        d3.select('h3').style('color', 'darkblue');
        d3.select('h3').style('font-size', '24px');
    </script>

    <ul></ul>
-->
    <svg></svg>

    <script>

        //Create rectangle element inside SVG.
        svg = d3.select('svg')
        svg.append('rect').attr('x', 50).attr('y', 50).attr('width', "100%").attr('height', "auto").attr('fill', 'green');
        svg.append('circle').attr('cx', 25).attr('cy', 25).attr("r", 25).attr('fill', "purple")

        // ADDD HERE COLORS
        var shapes_colors = ["green", "red", "blue", "purple"]
        // This changes the color to random on click
        d3.select('rect').on('click', function () { d3.select('rect').attr('fill', shapes_colors[Math.floor(Math.random() * shapes_colors.length)]); });
        d3.select('circle').on('click', function () { d3.select('circle').attr('fill', shapes_colors[Math.floor(Math.random() * shapes_colors.length)]); })

    </script>
    {{ colors }}
</body>
